# Archivos generados por Node.js
node_modules/

# Archivos específicos del entorno de desarrollo
.vscode/

# Archivo de bloqueo de versión para Node.js
package-lock.json

# Archivos de configuración locales (pueden variar según la IDE o editor)
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.swp
*.swo

# Carpetas específicas de salida de construcción
bin/

# Archivos de configuración locales
.env

# Dependiendo de tu entorno, puedes necesitar ignorar también archivos de caché o temporales generados por el sistema
*.log
*.pid
*.lock
